body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input[type="date"] {
  cursor: pointer;
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
ul {
  margin-block-start: 10px;
  padding-inline-start: 20px;
}
.me-5 {
  margin-right: 10px;
}
.text-small,
.check {
  font-size: 12px;
}
.main-wrapper {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #fff;
}

.form-header {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.header-logo {
  width: 150px;
  height: auto;
  position: absolute;
  left: 0;
}

.header-text {
  flex: 1;
  text-align: center;
}

.header-text p {
  margin: 0;
  font-size: 14px;
}

.header-text h1 {
  margin: 5px 0 0 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #333;
  max-width: 40%;
  margin-inline: auto;
}

.form-content-border {
  border: 2px solid #333;
  padding-top: 25px;
  background-color: #fcfcfc;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 15px;
  padding-inline: 20px;
}

.second-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 15px;
  padding-inline: 20px;
}

.input-group label {
  display: block;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 10px;
  color: #555;
}

.input-group-content {
  display: flex;
  border-bottom: 1px solid #000;
  padding: 8px 0;
}

.input-group-content .input-group-field {
  width: 60%;
}

.input-group-content .input-group-value {
  font-size: 11px;
  margin-left: auto;
  font-weight: bold;
  color: #a19868;
}

.text-areas {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  border-bottom: 1px solid #222;
}

.text-areas label {
  margin-block: 10px;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.4;
}

.print-text-block {
  font-size: 11px;
  font-weight: bold;
  color: #a19868;
}

textarea {
  height: 30px;
  margin-bottom: 25px;
  background-color: transparent;
  border: none;
  padding: 10px;
  font-family: inherit;
  resize: none;
}

.table-title {
  padding-inline: 10px;
  font-size: 15px;
  margin-block: 10px;
  color: #222;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid #333;
}

.service-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 750px;
}

.service-table th,
.service-table td {
  border: 1px solid #333;
  padding: 12px;
}

.service-table th {
  background-color: #f4f4f4;
  font-size: 12px;
}

.table-fields td {
  width: 33%;
  text-align: center;
}

.sign-title {
  padding: 12px 20px;
  margin: 0;
  background-color: #e2eefb;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
  font-size: 16px;
}

.grid-sig {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 767px) {
  .grid-sig {
    grid-template-columns: 1fr;
  }
}

.signature-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  gap: 30px;
}

.sig-box {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sig-box label {
  font-size: 10px;
  font-weight: bolder;
  margin-bottom: 8px;
  color: #444;
}

.sig-box .sig-field {
  border-bottom: 1px dotted #000;
  margin-block: 5px;
  padding: 20px 5px;
  font-size: 13px;
}

.checkbox-section {
  padding: 15px 20px;
}

.checkbox-section h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.checkbox-grid label {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.goals-section-title {
  border-inline: 1px solid #000;
  background-color: #e2eefb;
  font-size: 15px;
  padding: 10px;
  border-block: 1px solid #000;
}
.goals .goal {
  display: flex;
  gap: 20px;
  align-items: center;
  border-block: 1px solid #000;
}
.goals .goal .goal-title {
  font-size: 13px;
  background-color: #ffee99;
  border-right: 1px solid #000;
  padding: 10px;
}
.goals .goal .goal-text {
  flex-grow: 1;
}
.goals .goal .goal-text input {
  padding: 5px;
  min-width: 80%;
  border: none;
}

.goals-section .message {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 55, 55);
  font-size: 14px;
  border-block: 1px solid #000;
}
.goals-section-subtitle {
  padding-left: 15px;
  font-size: 14px;
}

.summarize-goal {
  display: flex;
}

.left-summarize-goal {
  flex-grow: 1;
}

.right-summarize-goal {
  padding: 10px;
  background-color: #e2eefb;
  border: 1px solid #000;
}

.right-summarize-goal-title {
  font-size: 14px;
}

.right-summarize-goal .summarize-goals-goal {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summarize-goals {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.summarize-goals .goal-title {
  font-size: 13px;
}

.summarize-goals .goal-text input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
}

@media (max-width: 768px) {
  .header-text h1 {
    max-width: 100%;
  }

  .info-grid,
  .second-info-grid {
    grid-template-columns: 1fr;
  }

  .header-logo {
    position: static;
    margin: 0 auto 10px;
    display: block;
  }

  .form-header {
    flex-direction: column;
  }

  .input-group .input-group-content .input-group-value {
    font-size: 7px;
  }

  .signature-section {
    max-width: 100%;
    flex-direction: column;
    gap: 15px;
  }

  .main-wrapper {
    padding: 10px;
  }

  .summarize-goal {
    flex-direction: column;
  }
}
